# /home/ubuntu/.kibot-cluster.env (Template)
# Fill these values on Server 2

TS_AUTHKEY=tskey-auth-xxxxx
KIBOT_CLUSTER_SECRET=kibot-sentinel-key-2026
BATAM_TENANCY_OCID=ocid1.tenancy.oc1..aaaa...
BATAM_USER_OCID=ocid1.user.oc1..aaaa...
BATAM_FINGERPRINT=xx:xx:xx...
BATAM_KEY_FILE=/home/ubuntu/.oci/batam_api_key.pem
KIBOT_TELEGRAM_TOKEN=
KIBOT_TELEGRAM_CHAT_ID=1346696386
